
.content_section{
  width: 1100px;
  box-sizing: border-box;
  margin: auto;
}
/*Знаю что в global уже добавили, но на будующее(тк учусь) решил сделать доп сексию эту сверху*/

.content_section_nav{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 100%;
  align-items:center;
  padding: 92px 50px 96px;
  font-family: 'Raleway' ,sans-serif;
  font-weight: 400;
}


.header__menu {
  display: grid;
  width: 100%;
}

.header__menu ul{
  display: flex;         
  flex-direction: row;       
  margin: 0;              
  padding: 0;             
  gap: 32px;             
  align-items: center;  
  flex-wrap: wrap;
}

.header__menu a{
  font-size: 18px;
}

.header__menu li {
  display: flex;
  align-items: center;
  list-style-type: circle;
  display: list-item;
}



.header__menu .header__links-list-item_no-bullit{
  list-style: none;
}

.content_section_nav.header__menu li{
  font-size: 18px;
}


.header__links-list-item{
  text-decoration-thickness: 1.3px;
  font-size: 18px;
}


.header__link_active{
  text-decoration: none;

}


.logo{
  display: block;
  width: 148px;
  max-height: 105px;
}

address{
  display: flex;
  max-width: 240px;
  justify-self: end;
  flex-direction: column;
  line-height: 1.35;
  font-style: normal;
}

address a{
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.3px;
}

address p{
  font-size: 18px;
}



.cover{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
}


.aligned-text{
  padding: 165px 20px 0px 50px;
  z-index: 1;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 100px;
  font-family: 'Raleway', serif;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.text{
  display: block;
}


.block-center{
  text-align: center;
  padding-left: 0px;
  padding-top: 18px;
}

.block-right{
  text-align: right;
  padding-right: 0px;
  padding-top: 18px;
}



.cover__description{
  padding: 106px 50px 50px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
}


.aligned-text_bottom{
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 10px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  word-spacing: 19px;
}


.cover__description_button{
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  width: 256px;
  height: 51px;
}

.bet-button{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 32px 11px 31px;
}

.lots{
  display: grid;
  width: 1052px;
  min-height: 723px;
  position: relative;
  margin-top: 180px;
  font-family: 'Raleway', sans-serif;
}



.lots__card-list{
  width: 100%;
  min-height: 596px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-position: center;
  gap: 25px;
  margin-top: 27px;

}

.lots__card-list li{
  display: block;
  width: 100%;
  height: 100%;
  gap: 12px
}


.lots__heading{
  top: 0;
  color: black;
  font-weight: 700;
  font-size: 40px;
  padding-top: 0px;
  padding-left: 44px;


}

.lots__card-list li{
  width: 334px;
  min-height: 596px;
}
.card_type_film{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/card-lot-01.jpg);
  
}

.card_type_book{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/card-lot-03.jpg);
}

.card {
  width: 100%;
  height: 100%;
  padding: 48px 40px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.card_a{
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
}

.card__text{
  display: flex;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.card__text a{
  text-decoration: none;
}


.bottom_text{
  padding-left: 40px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 1.5px;
}

.about{
  display: grid;
  width: 1052px;
  min-height: 595px;
  margin-top: 120px;
  grid-template-columns: 240px 693px;
  gap: 72px;
  margin-left: 69px;
}

.logo_circle{
  background-image: url(../images/Ellipse\ 10.svg);
  margin-top: 35px;
  width: 240px;
  height: 240px;
  padding-left: 46.48px;
  padding-top: 64px;
  padding-bottom: 62px;

}

.white_logo{
  width: 148px;
  height: 114px;
}



.about__text{
  width: 693px;
}



.about__text h2{
  width: 291px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-top: 136px;
  margin-right: 442px;
  margin-bottom: 100px;
}


.about_text_p{
width: 693px;

}


.about__text p{
  font-size: 20px;
  font-weight: 400;
}


p + p {
  margin-top: 24px;
}


.content_section_footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-left: 0px;
  padding-right: 50px;
  margin-top: 180px;
  padding-left: 43px;
  padding-right: 57px;
}



.footer__menu-list{
width: 163.9px;
margin-left: 150.03px;
margin-right: 154px

}

.footer__menu-list ul{
  display: grid;
  justify-content: center;
  text-align: center;
  
}

.footer__menu-list li{
  list-style: none;
}


.footer__social-icon_about{
  width: 240px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  justify-self: end;
  margin-bottom: 131px;
}

.footer__social-icon{
  display: flex;
  width: 48px;
  height: 48px;
}

.footer__links-list-item{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding-bottom: 2.5px;
}

.footer__link{
  font-size: 18px;
}

.footer__link_active{
  text-decoration: none;
}

.footer_address{
  margin-right: auto;
  margin-left: 0;
  font-weight: 400;
  font-size: 18px;
  width: 260.7px;
}